<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<% include ../views/template/head %>
<link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
</head>
<body>

    <nav class="navbar navbar-inverse">
     <% include ../views/template/nav %>
 </nav>
<p>Listado de Pi connectadas</p>
<script type="text/javascript">
    var valorCookie = Cookies.getJSON('pi');
    var valorCookieNombre = Cookies.getJSON('Nombre');
    html =  '<table class="pi-item">';
    html +=     '<tr>';
    html +=           '<td>';
    html +=                '<h2 class="pi-item-titulo"">Mac:</h2>';
    html +=           '</td>';
    html +=           '<td>';
    html +=                '<h2>Nº serie</h2>';
    html +=           '</td>';
    html +=     '</tr>';

    $.each(valorCookie,function(i,nserie){
        html += '<tr>'
        html +=        '<td>';
        html +=              JSON.stringify(valorCookie[i].mac);
        html +=        '</td>';
        html +=        '<td>';
        html +=             JSON.stringify(valorCookie[i].nserie);
        html +=        '</td>';
        html +=        '<td>';
        html +=             '<a href="#" onclick="deleteCookie('+i+')" disabled><span class="glyphicon glyphicon-off"> Eliminar</span></a>';
        html +=        '</td>'; 
        html += '</tr>';
    });

    html += '</table>';

    document.write(html);


    function deleteCookie(id){
        alert(id);
        Cookies.set('pi2',JSON.stringify(valorCookie[id]));
        Cookies.remove('pi',JSON.stringify(valorCookie[id]),{id:''});
        Cookies.set('pi', JSON.stringify(valorCookie),{expires: new Date(Date.now() + (3600 * 1000 * 24 * 365))})

    }   

    //$('#pi').html(html);
</script>
<div id="#pi"></div>
<% include ../views/template/footer %>

