<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<% include ../views/template/head %>
</head>
<body>

    <nav class="navbar navbar-inverse">
     <% include ../views/template/nav %>
 </nav>
<p>Listado de Pi connectadas</p>
    <span><%= JSON.stringify(cookies) %></span>
<% include ../views/template/footer %>

