<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<% include ../views/template/head %>
<link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
</head>
<body>

<nav class="navbar navbar-inverse">
     <% include ../views/template/nav %>
</nav>
<p>Sensores</p>
<table>
    <script type="text/javascript">
        var id = $.get("id");
        var html;
        html = '<tr>';
        html +=     '<td>';
        html +=         '<span>LED</span>';
        html +=     '</td>';
        html +=     '<td>';     
        html +=         '<a type="button" href="/led?id='+id+'" class="btn btn-primary btn-sm btn-round"><span class="glyphicon glyphicon-eye-open"></span></a>';
        html+=      '</td>';
        html+=  '</tr>';
        html+=  '<tr>';
        html +=     '<td>';
        html +=         '<span>Temperatura</span>';
        html +=     '</td>';
        html +=     '<td>';     
        html +=         '<a type="button" href="/temperature?id='+id+'" class="btn btn-primary btn-sm btn-round"><span class="glyphicon glyphicon-eye-open"></span></a>';
        html+=      '</td>';
        html+=  '</tr>';
        html +=  '<tr>';
        html +=     '<td>';
        html +=         '<span>Escribir mensaje</span>';
        html +=     '</td>';
        html +=     '<td>';     
        html +=         '<a type="button" href="/text?id='+id+'" class="btn btn-primary btn-sm btn-round"><span class="glyphicon glyphicon-eye-open"></span></a>';
        html+=      '</td>';
        html+=  '</tr>';
        html +=  '<tr>';
        html +=     '<td>';
        html +=         '<span>Alarma</span>';
        html +=     '</td>';
        html +=     '<td>';     
        html +=         '<a type="button" href="/buzzer?id='+id+'" class="btn btn-primary btn-sm btn-round"><span class="glyphicon glyphicon-eye-open"></span></a>';
        html+=      '</td>';
        html+=  '</tr>';    
        document.write(html);
    </script>
</table>
<div id="#pi"></div>
<% include ../views/template/footer %>

