<!DOCTYPE html>
<html lang="en">

<% include ../views/template/head %>
</head>
<body>

<nav class="navbar navbar-inverse">
     <% include ../views/template/nav %>
</nav>
<div id="content">
    <h1>Sensores</h1>
    <table>
        <thead>
            <tr>
                <th>Sensores</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <span>LED</span>
                </td>
                <td>
                    <a type="button" href="/led?id=<%= id %>" class="btn btn-primary btn-sm btn-round"><span class="glyphicon glyphicon-eye-open"></span></a>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Temperatura</span>
                </td>
                <td>
                    <a type="button" href="/temperature?id=<%= id %>" class="btn btn-primary btn-sm btn-round"><span class="glyphicon glyphicon-eye-open"></span></a>
                </td>
            </tr>
            <tr>
                <td>
                    <span>LCD</span>
                </td>
                <td>
                    <a type="button" href="/lcd?id=<%= id %>" class="btn btn-primary btn-sm btn-round"><span class="glyphicon glyphicon-eye-open"></span></a>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Alarma</span>
                </td>
                <td>
                    <a type="button" href="/buzzer?id=<%= id %>" class="btn btn-primary btn-sm btn-round"><span class="glyphicon glyphicon-eye-open"></span></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<% include ../views/template/footer %>

