<!-- views/pages/index.ejs -->

<!-- cookie -> status ['led_on', 'led_blink', 'buzzer_on'] -->

<!DOCTYPE html>
<html lang="en">

<% include ../views/template/head %>
</head>
<body>

	<nav class="navbar navbar-inverse">
		<% include ../views/template/nav %>
	</nav>
    <div id="content">
    	<form method="get" action="/buzzer">
            <script type="text/javascript">
                var idForm = $.get("id");
                var valorCookie = Cookies.getJSON('pi');
                document.write('<input type="hidden" id="id" name="id" value="'+ idForm +'">');
                document.write('<input type="hidden" id="mac" name="mac" value="'+ valorCookie[idForm].mac +'">');
                var statusBuzzer = Cookies.get('statusBuzzer');
                if(statusBuzzer === 'off' || statusBuzzer === undefined){
                    $(document).ready(function(){
                        $("#buzzer-actions-off").hide();
                        $("#offBuzzer").click(function(){
                            $("#buzzer-actions-on").hide();
                            Cookies.set('statusBuzzer', 'on');
                        });
                    });
                }else{
                    $(document).ready(function(){
                        $("#buzzer-actions-on").hide();
                        $("#onBuzzer").click(function(){
                            $("#buzzer-actions-off").hide();
                            Cookies.set('statusBuzzer', 'off');
                        });
                    });
                }
            </script>
            <h2>Alarma</h2>
            <div id="buzzer-actions-off" class="led-actions">
               <button class="btn btn-default" type="submit" id=onBuzzer name="buzzer" value="off">Apagar Alarma</button>
            </div>
            <div id="buzzer-actions-on" class="led-actions">
                <button class="btn btn-default" type="submit" id=offBuzzer name="buzzer" value="on">Encender Alarma</button>
            </div>
        </form>
        <% if (sound != '') { %>
            <div class="alert alert-success" role="alert"><%= sound %></div>
        <% } %>
    </div>
    <% include ../views/template/footer %>
