<!-- views/pages/index.ejs -->

<!-- cookie -> status ['led_on', 'led_blink', 'buzzer_on'] -->

<!DOCTYPE html>
<html lang="en">

<% include ../views/template/head %>
</head>
<body>

	<nav class="navbar navbar-inverse">
		<% include ../views/template/nav %>
	</nav>
    <div id="content">
    	<form method="get" action="/buzzer">
            <script type="text/javascript">
                var idForm = $.get("id");
                var valorCookie = Cookies.getJSON('pi');
                document.write('<input type="hidden" id="id" name="id" value="'+ idForm +'">');
                document.write('<input type="hidden" id="mac" name="mac" value="'+ valorCookie[idForm].mac +'">');
            </script>
            <h2>Alarma</h2>
            <div id="buzzer-action-off" class="buzzer-action">
                <button class="btn btn-default" type="submit" name="buzzer" value="on">Encender Alarma</button>
            </div>
            <div id="buzzer-action-on" class="buzzer-action">
                <button class="btn btn-default" type="submit" name="buzzer" value="off">Apagar Alarma</button>
            </div>
        </form>
        <% if (sound != '') { %>
            <div class="alert alert-success" role="alert"><%= sound %></div>
        <% } %>
    </div>
    <% include ../views/template/footer %>
