<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<% include ../views/template/head %>
</head>
<body>

	<nav class="navbar navbar-inverse">
		<% include ../views/template/nav %>
	</nav>
	<form method="get" action="/buzzer">
        <script type="text/javascript">
            var nserialForm = $.get("nserial");
            var valorCookie = Cookies.getJSON('pi');
            document.write('<input type="hidden" id="nserial" name="nserial" value="'+ nserialForm +'">');
            document.write('<input type="hidden" id="mac" name="mac" value="'+ valorCookie[nserialForm].mac +'">');
        </script>
        <h2>Alarma</h2>
        <button type="submit" name="buzzer" value="on">Encender Alarma</button>
        <button type="submit" name="buzzer" value="off">Apagar Alarma</button>
    </form>
    <h2><%= sound %></h2>
    <% include ../views/template/footer %>