<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<% include ../views/template/head %>
<link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
</head>
<body>

<nav class="navbar navbar-inverse">
     <% include ../views/template/nav %>
</nav>
<p>Listado de Pi connectadas</p>
<script type="text/javascript">
    var valorCookie = Cookies.getJSON('pi');
    if(valorCookie != undefined){
        var longitudCookie = Object.keys(valorCookie).length;
    }
    html =  '<table class="pi-item">';
    html +=     '<tr>';
    html +=           '<td>';
    html +=                '<h2 class="pi-item-titulo">Mac:</h2>';
    html +=           '</td>';
    html +=           '<td>';
    html +=                '<h2>Nº serie</h2>';
    html +=           '</td>';
    html +=     '</tr>';
    if(longitudCookie > 0){
        $.each(valorCookie,function(i,nserial){
            html +=     '<tr>'
            html +=             '<td>';
            html +=                 valorCookie[i].mac;
            html +=             '</td>';
            html +=             '<td>';
            html +=                 valorCookie[i].nserial;
            html +=             '</td>';
            html +=             '<td>';
            html +=                 '<a type="button" href="/actions?nserial='+nserial.nserial+'" class="btn btn-primary btn-sm btn-round"><span class="glyphicon glyphicon-eye-open"></span></a>';
            html +=                 '<button type="button" onclick="deleteCookie(\'' + nserial.nserial +'\')" class="btn btn-danger btn-sm btn-round"><span class="glyphicon glyphicon-trash"></span></button>';
            html +=             '</td>'; 
            html +=     '</tr>';
        });

    }else{
        html = '<h2>No hay Raspberry Pi Vinculadas</h2>';
    }

    html += '</table>';

    document.write(html);

    function deleteCookie(nserial){
        delete valorCookie[nserial];
        Cookies.set('pi', valorCookie);
        document.location.reload();
    }   

    //$('#pi').html(html);
</script>
<div id="#pi"></div>
<% include ../views/template/footer %>

