<!DOCTYPE html>
<html lang="en">

<% include ../views/template/head %>
</head>
<body>

<nav class="navbar navbar-inverse">
     <% include ../views/template/nav %>
</nav>
<div id="content">
    <h1>Raspberry Pi vinculadas</h1>
    <div class="item">
        <script type="text/javascript">
            var valueCookie = Cookies.getJSON('pi');
            var html;
            if(valueCookie != undefined){
                var lengthCookie = Object.keys(valueCookie).length;
            }
            if(lengthCookie > 0){
                $.each(valueCookie,function(i,id){
                        html = '<div class="item-title"></div>';
                        html += ' <b>Estado:</b><span id="item-status-'+valueCookie[i].hmac+'" class="item-status"> Obteniendo</span>';
                        html += '<div class="item-content">';
                            html += '<div class="item-attribute">';
                               html += ' <b>Mac:</b> '+valueCookie[i].mac+'';
                            html += '</div>';
                            html += '<div class="item-attribute">';
                                html += '<b>Nº Serie:</b> '+valueCookie[i].nserial+'';
                            html += '</div>';
                        html += '</div>';
                        html += '<div class="item-options">';
                            html += '<ul>';
                                html += '<li>';
                                    html += '<button type="button" onclick=goActions(\'' + id.id +'\') id="button-view-'+id.id+'" class="btn btn-primary btn-sm btn-round">';
                                        html += '<span class="glyphicon glyphicon-eye-open"></span> Ver';
                                    html += '</a>';
                                html += '</li>';
                                html += '<li>';
                                    html += '<button type="button" onclick="showConfirm(function(){deleteCookie(\'' + id.id +'\')});" class="btn btn-danger btn-sm btn-round">';
                                        html += '<span class="glyphicon glyphicon-trash"></span> Eliminar';
                                    html += '</button>';
                            html +=    '</li>';
                            html += '</ul>';
                        html += '</div>';
                        html += '</div>';
                        document.write(html);
                        $('#button-view-' +id.id).attr('disabled', 'disabled');
                });
            }else{
                html = 'No hay Raspberry Pi Vinculadas';
                html += '</div>';
                document.write(html);
            }

            function goActions(id){
                window.location = "http://localhost:3000/actions?id="+id;
                //window.location = "https://tfg-raspi.herokuapp.com/actions?id='+id+'";
            }

            function deleteCookie(id){
                delete valueCookie[id];
                Cookies.set('pi', valueCookie);
                document.location.reload();
            }

    var ws = new WebSocket("wss://serverwss.herokuapp.com/");
    ws.onopen = function(){
        console.log("Connection is open...");
        $.each(valueCookie,function(i,id){
            msg = '{"hmac" : "'+valueCookie[i].hmac+'", "key" : "'+id.id+'", "path" : "/status/pi", "query" : null }'
            ws.send(msg);
        });
    };
    ws.onclose = function(){
        console.log("Connection is closed");
    };

    var xVal = 0;
    ws.onmessage = function (event) {
        var received_msg = JSON.parse(event.data);
        if (received_msg.path == 'ack/status/pi') {
            if ($('#item-status-' + received_msg.hmac).length == 1) {
                $('#item-status-' + received_msg.hmac).html(received_msg.query);
                $('#item-status-' + received_msg.hmac).attr('data-status-ok', true);
                $('#button-view-' +received_msg.key).attr('disabled', false);
            }
        }
    };

    setTimeout(function(){
        $('.item-status:not([data-status-ok])').html(' Apagada');
    },10000);

    </script>

        <% if (link != '') { %>
            <div class="alert alert-success" role="alert"><%= link %></div>
        <% } %>
</div>
<% include ../views/template/footer %>
