<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../views/template/head %>
</head>
<body>

<nav>
	<% include ../views/template/nav %>
</nav>

    <main>
        <div class="jumbotron">
            <h1>This is great</h1>
            <p>Welcome to templating using EJS</p>
        </div>
    </main>
    
</body>
</html>
