<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<% include ../views/template/head %>
</head>

<body>
    <nav class="navbar navbar-inverse">
        <% include ../views/template/nav %>
    </nav>

    <script>
     function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ')
                c = c.substring(1);
            if (c.indexOf(name) == 0)
                return c.substring(name.length, c.length);
        }
        return "";
    }

    function checkCookie() {
        var nombre = getCookie("Nombre");
        if (nombre != "") {
           document.write('<h1>Bienvenido '+ nombre + '</h1>')
       } else {  	
        var html;
        html ='<h4>Bienvenido a Raspberry Pi Controller</h4>';
        html +='<h5>Por favor Introduzca los datos</h5>';
        html +='<form method="get" action="/">';
        html +='<div class="form-group" >';
        html +='<label">Nombre de Usuario:</label>';
        html +='<input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre">';
        html +='</div>';
        html +='<button type="submit" class="btn btn-primary">Enviar</button>';
        html +='</div>';
        html +='</form>';

        document.write(html);
    }
}
checkCookie();
</script>
<% include ../views/template/footer %>
