<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<% include ../views/template/head %>
</head>

<body>

<% include ../views/template/nav %>

    <main>

         <script>
           function getCookie(cname) {
                var name = cname + "=";
                var ca = document.cookie.split(';');
                for (var i = 0; i < ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ')
                        c = c.substring(1);
                    if (c.indexOf(name) == 0)
                        return c.substring(name.length, c.length);
                }
                return "";
            }

            function checkCookie() {
                var nombre = getCookie("Nombre");
                if (nombre != "") {
                	document.write('<h1>Bienvenido '+ nombre + '</h1>')
                } else {  		
                    document.write('<div id="center" class="container center_div">')	
                	document.write('<h3>Bienvenido a Raspberry Pi Controller</h1>')
           			 document.write('<h4>Por favor Introduzca un nombre de Usuario</h2>')
           			 document.write('<form class="form-horizontal" method="get" action="/">')
					      document.write('<div class="form-group" >')
					          document.write('<label for="inputName" class="control-label col-xs-2">Nombre de Usuario:</label>')
					          document.write('<div class="col-xs-3">')
					              document.write('<input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre">')
					          document.write('</div>')
					      document.write('</div>')
					      document.write('<div class="form-group">')
					          document.write('<div class="col-xs-offset-2 col-xs-10">')
					              document.write('<button type="submit" class="btn btn-primary">Enviar</button>')
					          document.write('</div>')
					      document.write('</div>')
                     document.write('</div>')
					 document.write('</form>')
                }
            }
            checkCookie();
        </script>
    </main>
    
</body>
</html>
