<!DOCTYPE html>
<html lang="en">

<% include ../views/template/head %>
</head>
<body>

<nav class="navbar navbar-inverse">
     <% include ../views/template/nav %>
</nav>
<body>
<div id="content">


<% include ../views/template/footer %>

<h2>Raspberry Pi 3</h2>
<p>La Raspberry Pi 3 tiene un nuevo y potente chip que es el Broadcom BCM2837, un ARM Cortex-A53 64bit Quad Core.  La GPU proporciona Open GL ES 2.0, aceleración por hardware OpenVG y un perfil de decodificación alto de 1080p30 H.264 y es capaz de generar 1Gpixel/s, 1.5Gtexel/s o 24 GFLOPs de procesamiento de computo. ¿Y eso qué significa todo esto? Esto significa que si se conecta la Raspberry Pi 3 a su televisión de alta definición, puede ver vídeo de calidad BluRay, usando H.264 a 40MBits/s.</p>
<p>El cambio más grande que se ha conseguido con la Raspberry Pi 3 es una actualización a un procesador de nueva generación y la mejora de conectividad con Bluetooth Low Energy (BLE) y Wi-Fi integrados. Además, el Raspberry Pi 3 ha mejorado la administración de energía, con una fuente de alimentación conmutada que alcanza hasta 2,5 amperios, para soportar dispositivos USB externos más potentes.</p>
<p>Cuatro puertos USB integrados en la Raspberry Pi 3 proporcionan suficiente conectividad para un ratón, un teclado o cualquier otro dispositivo. Se recomienda una fuente de alimentación de al menos 2.4 amperios, ya que el nuevo procesador y dispositivos integrados consumen más corriente.
<p>Además de todo, los periféricos de bajo nivel en la Pi hacen que sea ideal para electrónica y hardware. Posee el mismo puerto GPIO de 40 pines que le acceso a 27 pines GPIO, UART, I2C, SPI, así como las pines de 3.3 y 5V.</p>

<span><b>Enlace para más información</b></span>
<br>
<a href="https://www.raspberrypi.org/"><span>Página Oficial</span></a>
<br>
<a href="http://comohacer.eu/comparativa-y-analisis-raspberry-pi-vs-competencia/"><span>Comparativas</span></a>
<br>
<a href="http://www.xatakahome.com/trucos-y-bricolaje-smart/para-que-podemos-usar-un-raspberry-pi-en-casa-los-diez-mejores-proyectos"><span>Tipos de proyectos</span></a>
</body>
</div>