<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
    <% include ../views/template/head %>
    <script src="javascripts/jquery.minicolors.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/jquery.minicolors.css">
</head>
<body>
    <nav class="navbar navbar-inverse">
        <% include ../views/template/nav %>
    </nav>
    <div id="content">
        <script>
            $(document).ready( function() {

                $('.hex').each( function() {
                    //
                    // Dear reader, it's actually very easy to initialize MiniColors. For example:
                    //
                    //  $(selector).minicolors();
                    //
                    // The way I've done it below is just for the demo, so don't get confused
                    // by it. Also, data- attributes aren't supported at this time. Again,
                    // they're only used for the purposes of this demo.
                    //
                    $(this).minicolors({
                        control: $(this).attr('data-control') || 'hue',
                        defaultValue: $(this).attr('data-defaultValue') || '',
                        format: $(this).attr('data-format') || 'hex',
                        keywords: $(this).attr('data-keywords') || '',
                        inline: $(this).attr('data-inline') === 'true',
                        letterCase: $(this).attr('data-letterCase') || 'lowercase',
                        opacity: $(this).attr('data-opacity'),
                        position: $(this).attr('data-position') || 'bottom left',
                        swatches: $(this).attr('data-swatches') ? $(this).attr('data-swatches').split('|') : [],
                        change: function(hex, opacity) {
                            var log;
                            try {
                                log = hex ? hex : 'transparent';
                                if( opacity ) log += ', ' + opacity;
                                console.log(log);
                            } catch(e) {}
                        },
                        theme: 'default'
                    });
                });
            });
        </script>

        <% if (option != '') { %>
            <div class="alert alert-success" role="alert"><%= option %></div>
        <% } %>

        <form method="get" action="/led">
            <script type="text/javascript">
                var idForm = $.get("id");
                var valorCookie = Cookies.getJSON('pi');
                document.write('<input type="hidden" id="id" name="id" value="'+ idForm +'">');
                document.write('<input type="hidden" id="mac" name="mac" value="'+ valorCookie[idForm].mac +'">');
            </script>
            <div id="led-actions-off" class="led-actions">
               <button type="submit" class="btn btn-default" name="option" value="on">Encender Led</button>
            </div>
            <div id="led-actions-on" class="led-actions">
                <div>
                    <button type="submit" class="btn btn-default" name="option" value="off">Apagar Led</button>
                </div>
                <div>
                    <button type="submit" class="btn btn-default" name="option" value="blink">Parpadear Led</button>
                </div>
                <div class="form-group">
                    <input type="text" id="hex" name="hex" class="hex" value="12345">
                    <input type="submit" class="btn btn-default" name="option" value="Cambiar color">
                </div>
            </div>
        </form>
    </div>
    <% include ../views/template/footer %>
