<!DOCTYPE html>
<html lang="en">
    <% include ../views/template/head %>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <% include ../views/template/nav %>
    </nav>
    <div id="content">
        <form method="get" action="/led">
            <script type="text/javascript">
                var idForm = $.get("id");
                var valorCookie = Cookies.getJSON('pi');
                document.write('<input type="hidden" id="id" name="id" value="'+ idForm +'">');
                document.write('<input type="hidden" id="nserial" name="nserial" value="'+ valorCookie[idForm].nserial +'">');
                document.write('<input type="hidden" id="mac" name="mac" value="'+ valorCookie[idForm].mac +'">');
                var statusLed = Cookies.get('statusLed');
                if(statusLed === 'off' || status === undefined){
                    $(document).ready(function(){
                            $("#led-actions-off").hide();
                        $("#offLed").click(function(){
                            $("#led-actions-on").hide();
                        });
                    });
                }else{
                    $(document).ready(function(){
                        $("#led-actions-on").hide();
                        $("#onLed").click(function(){
                            $("#led-actions-off").hide();
                        });
                    });
                }
            </script>
            <div id="led-actions-off" class="led-actions">
               <button type="submit" class="btn btn-default" id=onLed name="option" value="on">Encender Led</button>
            </div>
            <div id="led-actions-on" class="led-actions">
                <div>
                    <button type="submit" class="btn btn-default" id=offLed name="option" value="off">Apagar Led</button>
                </div>
                <div>
                    <button type="submit" class="btn btn-default" id=blink name="option" value="blink">Parpadear Led</button>
                </div>
            </div>
        </form>
        <%if(option === 'Error, pruebe de nuevo'){ %>
            <div class="alert alert-danger" role="alert"><%= option %></div>
        <% } else if(option != ''){%>
            <div class="alert alert-success" role="alert"><%= option %></div>
        <% } %>
    </div>
    <% include ../views/template/footer %>
