<!DOCTYPE html>
<html lang="en">

<% include ../views/template/head %>
<link rel="stylesheet" type="text/css" href="stylesheets/form-register.css">
</head>
<body>

<nav class="navbar navbar-inverse">
     <% include ../views/template/nav %>
</nav>
<div class="main-content">
    <form class="form-register" method="get" action="/link">
        <div class="form-register-with-email">
            <div class="form-white-background">
                <div class="form-title-row">
                    <h1>Vincular</h1>
                </div>
                <div class="form-row">
                    <label>
                        <span>Nombre</span>
                        <script type="text/javascript">
                            var nameCookie = Cookies.get('name');
                            if (nameCookie != undefined) {
                                document.write('<input type="text" id="name" name="name" value="'+ nameCookie +'" readonly>');
                            } else {
                                document.write('<input type="text" id="name" name="name" placeholder="Nombre" required>');
                            }
                        </script>
                    </label>
                </div>
                <div class="form-row">
                    <label>
                        <span>Mac Pi</span>
                        <input type="text" id="mac" name="mac" placeholder="Mac Pi" required>
                    </label>
                </div>
                <div class="form-row">
                    <label>
                        <span>Número de serie</span>
                        <input type="text" id="nserial" name="nserial" placeholder="Nº Serie" required>
                    </label>
                </div>
                <div class="form-row">
                    <label>
                        <span>Id</span>
                        <input type="text" id="id" name="id" placeholder="Id" required>
                    </label>
                </div>
                <div class="form-row">
                    <button type="submit">Enviar</button>
                </div>
            </div>
        </div>
    </form>
</div>
<% include ../views/template/footer %>


