<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<% include ../views/template/head %>
</head>
<body>

    <nav class="navbar navbar-inverse">
        <% include ../views/template/nav %>
    </nav>
    <div id="content">
        <form method="get" action="/text">
            <script type="text/javascript">
                var id = $.get("id");
                var valorCookie = Cookies.getJSON('pi');
                document.write('<input type="hidden" id="id" name="id" value="'+ id +'">');
                document.write('<input type="hidden" id="mac" name="mac" value="'+ valorCookie[id].mac +'">');
            </script>
            <h1>Mensaje para mostrar en el lcd</h1>
            <div class="form-group">
                <textarea name="comment" id="comment" cols="40" rows="10" placeholder="Escribe aquí"></textarea>
            </div>
            <div class="form-group">
                <input class="btn btn-default" type="submit" name="text" value="Enviar">
            </div>
        </form>
        <% if (comment != '') { %>
            <div class="alert alert-success" role="alert"><%= comment %></div>
        <% } %>
    </div>
    <% include ../views/template/footer %>
