<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../views/template/head %>
</head>
<body>

<nav>
	<% include ../views/template/nav %>
</nav>

    <main>
        <div class="jumbotron">
            <h1 style="margin-top: 200px;">JHojaijaiosdf</h1>
        </div>
    </main>
    
</body>
</html>

