<div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a href="/">
        <img class="navbar-logo" src="/images/RaspiLogo.png">
    </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
            <li><a href="/link"><span class="glyphicon glyphicon-plus-sign"></span> Vincular</a></li>
            <li><a href="#">Que es RaspBerryPi</a></li>
        <script>
            var nameCookie = Cookies.get('name');
            var html;
            if (nameCookie != undefined) {
                html = '<li><a href="/configuration">Listado de RaspBerryPi</a></li>';
                html +='</ul>'
                html += '<ul class="nav navbar-nav navbar-right">';
                html += '<li class="dropdown">';
                html += '<a class="dropdown-toggle" data-toggle="dropdown" href="#"> <span class="glyphicon glyphicon-user"></span> ' + nameCookie + '</a>';
                html += '<ul class="dropdown-menu">';
                html += '<li><a href="#" onclick="showConfirm(function(){deleteCookies()});" disabled><span class="glyphicon glyphicon-off"></span> Eliminar</a></li>';
                html += '</ul>';
                html += '</li>';
            }else{
                html = '<li></li>';
                html +='</ul>'
            }

           document.write(html);

            function deleteCookies(){
                Cookies.remove('name');
                Cookies.remove('pi');
                //window.location = "http://localhost:3000/";
                window.location = "https://tfg-raspi.herokuapp.com/";
            }
        </script>
        </ul>
    </div>
</div>
