<div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a href="/">
        <img src="/images/RaspiLogo.png">
    </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
            <li><a href="/vincular"><span class="glyphicon glyphicon-plus-sign"> Vincular</span></a></li>
            <li><a href="#">Que es RaspBeryPi</a></li>
            <li><a href="/led">Led</a></li>
        <script>
            var nombre = Cookies.get('Nombre');
            var html;
            if (nombre != undefined) {
                html = '<li><a href="/acciones">Acciones</a></li>';
                html +='</ul>'
                html += '<ul class="nav navbar-nav navbar-right">';
                html += '<li class="dropdown nav navbar-nav navbar-right">';
                html += '<a class="dropdown-toggle" data-toggle="dropdown" href="#"> <span class="glyphicon glyphicon-user"> ' + nombre + ' </span></a>';
                html += '<ul class="dropdown-menu">';
                html += '<li><a href="#">Page 1-1</a></li>';
                html += '<li><a href="#">Page 1-2</a></li>';
                html += '<li><a href="#">Page 1-3</a></li>';
                html += '<li><a href="#" onclick="deleteCookies()" disabled><span class="glyphicon glyphicon-off"> Eliminar</span></a></li>';
                html += '</ul>';
                html += '</li>';
            }else{
                html = '<li></li>';
                html +='</ul>'
            }

           document.write(html);

            function deleteCookies(){
                Cookies.remove('Nombre');
                Cookies.remove('pi');
                window.locationf = '/';
                document.location.reload();
            }  
        </script>
        </ul>
    </div>
</div>